@import "./reset.css";
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Poppins:wght@400;500;700&display=swap");
/* 
font-family: 'DM Sans', sans-serif;
font-family: 'Poppins', sans-serif;
 */

:root {
  --black: #171718;
  --black-border: #26292d;
  --white: #fff;
  --purple: #5c62ec;

  --dark-bg: var(--black);
  --dark-border: var(--black-border);
  --header-text: var(--white);
  --accent: var(--purple);
  --text-color: var(--black);
}

html,
body {
  font-family: "DM Sans", sans-serif;
  letter-spacing: -0.5px;
  color: var(--text-color);
}

.container {
  padding: 0 15px;
  margin: 0 auto;
  max-width: 1200px;
}
/* NAV */
.nav {
  padding: 20px 0;
  border-bottom: 1px solid var(--dark-border);
  background-color: var(--dark-bg);
  color: var(--header-text);
}
.nav-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 30px;
  row-gap: 20px;
  flex-wrap: wrap;
}
.logo {
  color: var(--header-text);
  font-family: Poppins;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
}

.logo strong {
  font-family: Poppins;
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
}

.nav-list {
  display: flex;
  align-items: center;
  column-gap: 40px;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
}
.nav-list__link {
  /* color: #fff; */
  color: var(--header-text);
}
.nav-list__link--active {
  position: relative;
}

.nav-list__link--active::before {
  content: "";

  position: absolute;
  left: 0;
  top: 100%;

  display: block;
  height: 2px;
  width: 100%;
  /* background-color: #5c62ec; */
  background-color: var(--accent);
}
/* Header */

.heade {
  padding: 40px 0;
  min-height: 695px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--dark-bg);
  color: var(--header-text);
  text-align: center;
}

.header__wrapper {
  max-width: 660px;
  padding: 0 15px;
}
.header__title {
  margin-bottom: 20px;
  font-size: 40px;
  font-weight: 700;
  line-height: 1.4;
  /* line-height: 84px; */
}
.header__title strong {
  font-size: 60px;
  font-weight: 700;
}
.header__title em {
  font-style: normal;
  color: var(--accent);
}

.header__text {
  margin-bottom: 40px;
  font-size: 18px;
  line-height: 1.333;
}

/* у акждого кроме первого будет отступ 0.5em 0.5 * на размер шрифта */
.header__text p + p {
  margin-top: 0.5em;
}
.btn {
  display: inline-block;
  height: 48px;
  padding: 12px 28px;
  border-radius: 5px;
}
